<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <base href="/nongte/"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="images/favicon.ico" rel="icon"/>

    <title>创建产品</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet"/>
    <!-- <link href="assets/css/non-responsive.css" rel="stylesheet" /> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9
      ]>
    <script src="js/ie8-responsive-file-warning.js"></script
    ><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="html5shiv.min.js"></script>
    <script src="respond.min.js"></script>
    <![endif]-->
    <link href="css/style.css" rel="stylesheet"/>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">特农网</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <%
                var loginUser = session.loginUser !"";
                %>
                <li><a href="#">首页</a></li>
                <li><a href="prod/list">产品列表</a></li>
                <li><a href="contact">新闻动态</a></li>
                <li><a href="about">关于我们</a></li>
                <%
                if(loginUser == "") {
                %>
                <li><a href="signin">登录</a></li>
                <%} else {%>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#"
                       role="button">${loginUser} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="signout">退出</a></li>
                    </ul>
                </li>
                <%}%>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <form class="form-horizontal" id="frm" role="form">
        <input name="id" type="hidden" value="${prod.id!''}">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">产品名称</label>
            <div class="col-sm-10">
                <input autocomplete="off" class="form-control" id="title" maxlength="20"
                       name="title" placeholder="请输入产品名称" value="${prod.title!''}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="desc">产品描述</label>
            <div class="col-sm-10">
                <input autocomplete="off" class="form-control" id="desc" maxlength="32"
                       name="desc" placeholder="请输入产品描述" value="${prod.desc!''}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="keywords">关键字</label>
            <div class="col-sm-10">
                <input autocomplete="off" class="form-control" id="keywords" maxlength="32"
                       name="keywords" placeholder="请输入关键字" value="${prod.keywords!''}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="pic">封面图片</label>
            <div class="col-sm-10 pic-div">
                <%
                if(prod.pic_url!'' == '') {
                %>
                <input accept="image/*" class="form-control" id="pic" name="pic" type="file">
                <%
                } else {
                %>
                <div class="pic-container" id="pic-container">
                    <input id="pic_url" name="pic_url" type="hidden" value="${prod.pic_url}">

                    <a class="pic_a thumbnail" href="file?filename=${prod.pic_url}" target="_blank">
                        <img alt="封面图片" id="picImg" src="file?filename=${prod.pic_url}">
                    </a>
                    <div class="pic_x" id="pic_x">x</div>
                </div>
                <%
                }
                %>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="region-select-box">所属区域</label>
            <div class="col-sm-10">
                <div class="form-inline" id="region-select-box"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="level_prov">省优先级</label>
            <div class="col-sm-10">
                <input autocomplete="off" class="form-control match-rotation-input"
                       id="level_prov"
                       maxlength="4" name="level_prov"
                       onblur="value=value.replace(/[^\d]/g,'')"
                       onkeyup="value=value.replace(/[^\d]/g,'')"
                       placeholder="数字越小，优先级越高。" value="${prod.level_prov!''}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="level_city">市优先级</label>
            <div class="col-sm-10">
                <input autocomplete="off" class="form-control match-rotation-input"
                       id="level_city"
                       maxlength="4" name="level_city"
                       onblur="value=value.replace(/[^\d]/g,'')"
                       onkeyup="value=value.replace(/[^\d]/g,'')"
                       placeholder="数字越小，优先级越高。" value="${prod.level_city!''}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="level_area">区/县级优先级</label>
            <div class="col-sm-10">
                <input autocomplete="off" class="form-control match-rotation-input"
                       id="level_area"
                       maxlength="4" name="level_area"
                       onblur="value=value.replace(/[^\d]/g,'')"
                       onkeyup="value=value.replace(/[^\d]/g,'')"
                       placeholder="数字越小，优先级越高。" value="${prod.level_area!''}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">显示方式</label>
            <div class="col-sm-10">
                <label class="checkbox-inline">
                    <%if(prod.show_prov == 1) {%>
                    <input checked name="show_prov" type="checkbox" value="1">省级
                    <%} else {%>
                    <input name="show_prov" type="checkbox" value="1">省级
                    <%}%>
                </label>
                <label class="checkbox-inline">
                    <%if(prod.show_city == 1) {%>
                    <input checked name="show_city" type="checkbox" value="1">市级
                    <%} else {%>
                    <input name="show_city" type="checkbox" value="1">市级
                    <%}%>
                </label>
                <label class="checkbox-inline">
                    <%if(prod.show_area == 1) {%>
                    <input checked name="show_area" type="checkbox" value="1">区/县级
                    <%} else {%>
                    <input name="show_area" type="checkbox" value="1">区/县级
                    <%}%>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">地标选择</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <%if (prod.db == 1) {%>
                    <input checked name="db" type="radio" value="1">
                    <%} else {%>
                    <input name="db" type="radio" value="1">
                    <%}%>
                    <img src="images/db001.jpg" width="150px">
                </label>

                <label class="radio-inline">
                    <%if (prod.db == 2) {%>
                    <input checked name="db" type="radio" value="2">
                    <%} else {%>
                    <input name="db" type="radio" value="2">
                    <%}%>
                    <img src="images/db002.jpg" width="150px">
                </label>

                <label class="radio-inline">
                    <%if (prod.db == 3) {%>
                    <input checked name="db" type="radio" value="3">
                    <%} else {%>
                    <input name="db" type="radio" value="3">
                    <%}%>
                    <img src="images/db003.jpg" width="150px">
                </label>

                <label class="radio-inline">
                    <%if (prod.db == 5) {%>
                    <input checked name="db" type="radio" value="5">
                    <%} else {%>
                    <input name="db" type="radio" value="5">
                    <%}%>
                    <img src="images/db005.jpg" width="120px">
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="product-content">正文</label>
            <div class="col-sm-10">
                <div id="product-content">${prod.html!''}</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-primary" onclick="submitForm()">提 交</a>
                <a class="btn btn-default" onclick="javascript:history.go(-1)">取 消</a>
            </div>
        </div>
    </form>
</div>
<!-- /container -->


<footer>
    <center>
        <p>Copyright © nongte.com (2020 - present) all right reserved</p>
    </center>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
<script src="js/j-area-data.js"></script>
<script src="js/j-area-select.js"></script>
<script src="js/wangEditor.min.js"></script>
<script src="js/jquery.mloading.js"></script>
<link href="css/jquery.mloading.css" rel="stylesheet">
<script>
$(function() {
    $("#pic_x").click(function() {
        $('#pic-container').remove();
        $('#pic_url').remove();
        $('<input type="file" class="form-control" id="pic" name="pic" accept="image/*">').appendTo(".pic-div")
    });
});
    function initAreaSelector() {
        var area = $('#region-select-box').JAreaSelect({
           prov: "${prod.province_code!''}",
           city: "${prod.city_code!''}",
           area: "${prod.area_code!''}"
        });
        return area;
    }

    function initWangEditor() {
        var E = window.wangEditor
        var editor = new E('#product-content')
        // 或者 const editor = new E( document.getElementById('div1') )
        // 设置编辑区域高度为 500px
        // editor.config.height = 500
        // 编辑器 z-index 默认为 10000，可以自行调整
        editor.config.zIndex = 1;
        // 配置 server 接口地址
        editor.config.uploadImgServer = 'wangEditor/uploadFile'
        editor.config.uploadFileName = 'file'
        editor.config.uploadImgTimeout = 5 * 1000
        editor.config.uploadImgMaxLength = 1 // 一次最多上传 5 个图片
        // 隐藏插入网络图片的功能
        editor.config.showLinkImg = false
        // 限制图片大小
        editor.config.uploadImgMaxSize = 2 * 1024 * 1024 // 2M
        // 限制图片类型
        editor.config.uploadImgAccept = ['jpg', 'jpeg', 'png', 'gif', 'bmp']

        editor.config.uploadImgHooks = {
            // 图片上传并返回了结果，但图片插入时出错了
            fail: function(xhr, editor, resData) {
                // console.log('fail', resData)
                alert(resData.msg);
            },
            // 上传图片出错，一般为 http 请求的错误
            error: function(xhr, editor, resData) {
                console.log('error', xhr, resData)
                alert("图片上传失败");
            },
            // 上传图片超时
            timeout: function(xhr) {
                console.log('timeout')
                alert("上传图片超时");
            },
            // 图片上传并返回了结果，想要自己把图片插入到编辑器中
            // 例如服务器端返回的不是 { errno: 0, data: [...] } 这种格式，可使用 customInsert
            // customInsert: function(insertImgFn, result) {
                // result 即服务端返回的接口
                // console.log('customInsert', result)

                // insertImgFn 可把图片插入到编辑器，传入图片 src ，执行函数即可
                // insertImgFn(result.data[0])
            //}
        }

        editor.create()

        return editor;
    }

    var selector = initAreaSelector();
    var wangEditor = initWangEditor();

    function submitForm() {

        var title = $("#title").val();
        // 数据校验
        if (!title) {
            alert("请输入产品名称");
            $("#title").focus();
            return;
        }

        var desc = $("#desc").val();
        if (!desc) {
            alert("请输入产品描述");
            $('#desc').focus();
            return;
        }

// 判断pic是否为空
        if ($('#pic') && $('#pic')[0] && !$("#pic")[0].files[0]) {
            alert("请选择产品封面图片");
            $('#pic').focus();
            return;
        }

        if ($('#pic') && $('#pic').val()) {
            if (!$('#pic')[0].files[0].type.startsWith('image/')) {
                alert("请选择合适的封面图片");
                $('#pic').focus();
                return;
            }
        }


        var areaObj = selector.getAreaObj();
        if (!areaObj.province_code) {
            alert("请完善所属区域");
            $('[name="province_code"]').focus();
            return;
        }

        var html = wangEditor.txt.html();
        if (!html) {
            alert("请输入正文");
            $('#product-content').focus();
            return;
        }

// 判断pic是否为空
        if ($('#pic') && $('#pic')[0] && $('#pic')[0].files[0]) {
            var picFrm = new FormData();
            picFrm.append('file', $('#pic')[0].files[0]);
            uploadPic(picFrm);
        } else {
            var frm = new FormData(document.getElementById("frm"))
            frm.append("html", wangEditor.txt.html());
            uploadForm(frm);
        }
    }

    function uploadPic(picFrm) {
        $.ajax({
            url: "uploadFile",
            type: "post",
            data: picFrm,
            processData: false,
            contentType: false,
            beforeSend: function() {
                // 显示loading组件
                $('body').mLoading("show");
            },
            success: function(result) {
                var frm = new FormData(document.getElementById("frm"))
                frm.append("html", wangEditor.txt.html());
                frm.delete("pic");
                frm.append("pic_url", result);
                uploadForm(frm);
            },
            error: function(err) {
                alert(err);
            },
            complete: function() {
                // 隐藏loading组件
                $('body').mLoading("hide");
            }
        });
    }

    function uploadForm(frm) {
        var areaStr = selector.getAreaString();
        frm.append('province_name', areaStr.province_name||'');
        frm.append('city_name', areaStr.city_name||'');
        frm.append('area_name', areaStr.area_name||'');

        $.ajax({
            url: "prod/save",
            type: "post",
            data: frm,
            processData: false,
            contentType: false,
            beforeSend: function() {
                // 显示loading组件
                $('body').mLoading("show");
            },
            success: function(result) {
                localStorage && localStorage.setItem('prod-edit', Date.now());
                history.go(-1);
            },
            error: function(err) {
                alert(err);
            },
            complete: function() {
                $('body').mLoading("hide");//隐藏loading组件
            }
        });
    }





</script>
<style>
.pic-container {
display: inline-block;
position: relative;
width: 30%;
}

.pic_x {
display: inline-block;
position: absolute;
top: 2px;
right: 2px;
color: #b92c28;
background: #eeeeee;
padding: 0 5px;
}

.pic_x:hover {
    cursor: pointer;
    border: 1px solid #b92c28;
}

#region-select-box select {
margin-right: 3px;
}





</style>
</body>
</html>
