<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <base href="/nongte/"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="images/favicon.ico" rel="icon"/>

    <%
    var title = prod.title!'';
    %>
    <title>${title == '' ? '创建产品' : '修改产品'}</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet"/>
    <!-- <link href="assets/css/non-responsive.css" rel="stylesheet" /> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9
      ]>
    <script src="js/ie8-responsive-file-warning.js"></script
    ><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="html5shiv.min.js"></script>
    <script src="respond.min.js"></script>
    <![endif]-->
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/prod/edit.css" rel="stylesheet">
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">特农网</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <%
                var loginUser = session.loginUser !"";
                %>
                <li><a href="#">首页</a></li>
                <li><a href="prod/list">产品列表</a></li>
                <li><a href="contact">新闻动态</a></li>
                <li><a href="tougao">联系投稿</a></li>
                <li><a href="about">关于我们</a></li>
                <%
                if(loginUser != "") {
                %>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#"
                       role="button">${loginUser} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="signout">退出</a></li>
                    </ul>
                </li>
                <%}%>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <form class="form-horizontal" id="frm" role="form">
        <input name="id" type="hidden" value="${prod.id!''}">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">产品名称</label>
            <div class="col-sm-10">
                <input autocomplete="off" class="form-control" id="title" maxlength="20"
                       name="title" placeholder="请输入产品名称" value="${prod.title!''}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="desc">产品描述</label>
            <div class="col-sm-10">
                <input autocomplete="off" class="form-control" id="desc" maxlength="48"
                       name="desc" placeholder="请输入产品描述" value="${prod.desc!''}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="keywords">关键字</label>
            <div class="col-sm-10">
                <input autocomplete="off" class="form-control" id="keywords" maxlength="32"
                       name="keywords" placeholder="请输入关键字" value="${prod.keywords!''}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="pic">封面图片</label>
            <div class="col-sm-10 pic-div">
                <%
                if(prod.pic_url!'' == '') {
                %>
                <input accept="image/*" class="form-control" id="pic" name="pic" type="file">
                <%
                } else {
                %>
                <div class="pic-container" id="pic-container">
                    <input id="pic_url" name="pic_url" type="hidden" value="${prod.pic_url}">

                    <a class="pic_a thumbnail" href="medias/file?filename=${prod.pic_url}" target="_blank">
                        <img alt="封面图片" id="picImg" src="medias/file?filename=${prod.pic_url}">
                    </a>
                    <div class="pic_x" id="pic_x">x</div>
                </div>
                <%
                }
                %>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="region-select-box">所属区域</label>
            <div class="col-sm-10">
                <div class="form-inline" id="region-select-box"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="level_prov">省优先级</label>
            <div class="col-sm-10">
                <input autocomplete="off" class="form-control match-rotation-input"
                       id="level_prov"
                       maxlength="4" name="level_prov"
                       onblur="value=value.replace(/[^\d]/g,'')"
                       onkeyup="value=value.replace(/[^\d]/g,'')"
                       placeholder="数字越小，优先级越高。" value="${prod.level_prov!''}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="level_city">市优先级</label>
            <div class="col-sm-10">
                <input autocomplete="off" class="form-control match-rotation-input"
                       id="level_city"
                       maxlength="4" name="level_city"
                       onblur="value=value.replace(/[^\d]/g,'')"
                       onkeyup="value=value.replace(/[^\d]/g,'')"
                       placeholder="数字越小，优先级越高。" value="${prod.level_city!''}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="level_area">区/县级优先级</label>
            <div class="col-sm-10">
                <input autocomplete="off" class="form-control match-rotation-input"
                       id="level_area"
                       maxlength="4" name="level_area"
                       onblur="value=value.replace(/[^\d]/g,'')"
                       onkeyup="value=value.replace(/[^\d]/g,'')"
                       placeholder="数字越小，优先级越高。" value="${prod.level_area!''}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">显示方式</label>
            <div class="col-sm-10">
                <label class="checkbox-inline">
                    <%if(prod.show_prov == 1) {%>
                    <input checked name="show_prov" type="checkbox" value="1">省级
                    <%} else {%>
                    <input name="show_prov" type="checkbox" value="1">省级
                    <%}%>
                </label>
                <label class="checkbox-inline">
                    <%if(prod.show_city == 1) {%>
                    <input checked name="show_city" type="checkbox" value="1">市级
                    <%} else {%>
                    <input name="show_city" type="checkbox" value="1">市级
                    <%}%>
                </label>
                <label class="checkbox-inline">
                    <%if(prod.show_area == 1) {%>
                    <input checked name="show_area" type="checkbox" value="1">区/县级
                    <%} else {%>
                    <input name="show_area" type="checkbox" value="1">区/县级
                    <%}%>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">地标选择</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <%if (prod.db == 1) {%>
                    <input checked="checked" name="db" type="radio" value="1">
                    <%} else {%>
                    <input name="db" type="radio" value="1">
                    <%}%>
                    <img src="images/db001.jpg" width="150px">
                </label>

                <label class="radio-inline">
                    <%if (prod.db == 2) {%>
                    <input checked="checked" name="db" type="radio" value="2">
                    <%} else {%>
                    <input name="db" type="radio" value="2">
                    <%}%>
                    <img alt="" src="images/db002.jpg" width="150px">
                </label>

                <label class="radio-inline">
                    <%if (prod.db == 3) {%>
                    <input checked="checked" name="db" type="radio" value="3">
                    <%} else {%>
                    <input name="db" type="radio" value="3">
                    <%}%>
                    <img alt="" src="images/db003.jpg" width="150px">
                </label>

                <label class="radio-inline">
                    <%if (prod.db == 5) {%>
                    <input checked="checked" name="db" type="radio" value="5">
                    <%} else {%>
                    <input name="db" type="radio" value="5">
                    <%}%>
                    <img alt="" src="images/db005.jpg" width="120px">
                </label>

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">下一篇信息</label>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <input autocomplete="off" class="form-control match-rotation-input" id="prod-edit-next-title"
                               placeholder="下一篇标题"
                               type="text">
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <input autocomplete="off" class="form-control match-rotation-input" id="prod-edit-next-href"
                               placeholder="下一篇链接"
                               type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="prod-html">正文</label>
            <div class="col-sm-10">
                <div id="prod-html">
                    <%if(prod.id!=null && prod.id > 0) {%>
                    ${prod.html!''}
                    <%} else {%>
                    <h2 id="prod-html-title" style="text-align: center; color: #f9963b">产品名称</h2>
                    <hr/>
                    <p style="text-align: center">
                        <img alt="图片" src="images/favicon.ico" style="max-width: 100%"/>
                    </p>
                    <p style="text-align: center"></p>
                    <p style="text-indent: 2em; font-size: 16px">
                        铺盖面叠合传统秘方，结合现代科学技术，在面条本身上做了彻底改变，因其加工方式独特，面片韧性十足，口感极佳，而面绍一样特色鲜明，或麻辣，或清淡，川味十足。并且营养丰富，百食不厌，除富含丰富的碳水化合物外，还含有无机盐和多种矿物质、氨基酸、葡萄糖、维生素与植物性蛋白质以及磷、铁、钙、锌等大量的微量元素，拒竞争对手的模仿于千里之外，确保投资者独享一方市场。
                    </p>
                    <p style="text-indent: 2em; font-size: 16px">
                        所以在市场上铺盖面的经营始终火爆异常，顾客持续不断。甫一亮相，就在市场上掀起一波罕遇的热浪。以小额投资开店，轻松获得极高利润回报，缔造餐饮业内一大神话。终其原因还在于，同样的美味和同样的价格之上，铺盖面却有了不同的特点，新意盎然，感觉新颖，并且食用时口感味道皆佳，并不哗取宠，一样实实在在。
                    </p>
                    <br/>
                    <br/>
                    <br/>
                    <a id="prod-next"
                       style="display: inline-block; width: 100%; font-size: 18px; font-weight:600; text-align:center;padding:10px;border:1px solid #cccccc;"
                       target="_blank">下一篇：<span
                            id="prod-next-title">下一篇标题和链接不要手动编辑</span></a>
                    <%}%>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="prod-html2">额外信息</label>
            <div class="col-sm-10">
                <div id="prod-html2">${prod.html2!''}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-primary" onclick="submitForm()">提 交</a>
                <a class="btn btn-default" onclick="javascript:history.go(-1)">取 消</a>
            </div>
        </div>
    </form>
</div>
<!-- /container -->

<footer>
    <center>
        <ul>
            <li><a href="about">关于我们</a></li>
            <li><a href="declare" target="declare">网站申明</a></li>
            <li><a href="tougao">建议提交</a></li>
        </ul>
        <p>Copyright © 2020-2021 nongte.wang All Rights Reserved</p>
        <p>本站部分信息来源于网络，如有侵权请联系我们进行删除 蜀ICP备xxxx号</p>
    </center>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
<script src="js/j-area-data.js"></script>
<script src="js/j-area-select.js"></script>
<script src="js/wangEditor.min.js"></script>
<script src="js/jquery.mloading.js"></script>
<link href="css/jquery.mloading.css" rel="stylesheet">
<script>var jAreaObj = {
prov: "${prod.province_code!''}",
city: "${prod.city_code!''}",
area: "${prod.area_code!''}"
}


</script>
<script src="js/prod/edit.js">
</script>
</body>
</html>
