<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <base href="/nongte/"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="images/favicon.ico" rel="icon"/>

    <title>产品列表</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet"/>
    <!-- <link href="assets/css/non-responsive.css" rel="stylesheet" /> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9
      ]>
    <script src="js/ie8-responsive-file-warning.js"></script
    ><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="html5shiv.min.js"></script>
    <script src="respond.min.js"></script>
    <![endif]-->
    <link href="css/style.css" rel="stylesheet"/>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">特农网</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <%
                var loginUser = session.loginUser !"";
                %>
                <li><a href="#">首页</a></li>
                <li class="active"><a href="prod/list">产品列表</a></li>
                <li><a href="contact">新闻动态</a></li>
                <li><a href="about">关于我们</a></li>
                <%
                if(loginUser == "") {
                %>
                <li><a href="signin">登录</a></li>
                <%} else {%>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#"
                       role="button">${loginUser} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="signout">退出</a></li>
                    </ul>
                </li>
                <%}%>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="form-inline">
        <div>
            <div class="form-group">
                <label for="title">产品名称</label>
                <input autocomplete="off" class="form-control" id="title" maxlength="20" placeholder="请输入产品名称">
            </div>

            <div class="form-group">
                <label class="control-label" for="desc">产品描述</label>
                <input autocomplete="off" class="form-control" id="desc" maxlength="32" placeholder="请输入产品描述">
            </div>

            <div class="form-group">
                <label class="control-label" for="keywords">关键字</label>
                <input autocomplete="off" class="form-control" id="keywords" maxlength="32" placeholder="请输入关键字">
            </div>

            <div class="form-group">
                <label class="control-label" for="status">状态</label>
                <select class="form-control" id="status" name="status">
                    <option value="">请选择</option>
                    <option value="1">启用</option>
                    <option value="2">禁用</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">显示方式</label>
                <label>
                    <input name="show_prov" type="checkbox" value="1">省级
                </label>
                <label>
                    <input name="show_city" type="checkbox" value="1">市级
                </label>
                <label>
                    <input name="show_area" type="checkbox" value="1">区/县级
                </label>
            </div>

            <div class="form-group">
                <label class="control-label" for="level_prov">优先级</label>
                <input autocomplete="off" class="form-control match-rotation-input" id="level_prov"
                       maxlength="4"
                       name="level_prov" onblur="value=value.replace(/[^\d]/g,'')"
                       onkeyup="value=value.replace(/[^\d]/g,'')"
                       placeholder="省级优先级">
                <input autocomplete="off" class="form-control match-rotation-input" id="level_city"
                       maxlength="4"
                       name="level_city" onblur="value=value.replace(/[^\d]/g,'')"
                       onkeyup="value=value.replace(/[^\d]/g,'')"
                       placeholder="市级优先级">
                <input autocomplete="off" class="form-control match-rotation-input" id="level_area"
                       maxlength="4"
                       name="level_area" onblur="value=value.replace(/[^\d]/g,'')"
                       onkeyup="value=value.replace(/[^\d]/g,'')"
                       placeholder="区/县优先级">
            </div>

            <div class="form-group">
                <label for="region-select-box">所属区域</label>
                <div class="form-inline" id="region-select-box" style="display:inline-block"></div>
            </div>

            <button class="btn btn-success" id="queryBtn">查询</button>
        </div>
    </div>
    <div class="btn-group mt-10">
        <a class="btn btn-primary" href="prod/create">创建产品</a>
    </div>
    <table class="mt-10" id="prodTable"></table>
</div>
<!-- /container -->


<footer>
    <center>
        <p>Copyright © nongte.com (2020 - present) all right reserved</p>
    </center>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Latest compiled and minified CSS -->
<link href="css/bootstrap-table.min.css" rel="stylesheet">
<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="js/bootstrap-table-zh-CN.min.js"></script>

<script src="js/j-area-data.js"></script>
<script src="js/j-area-select.js"></script>
<script>
    $(function() {
        $("#queryBtn").click(function() {
            $("#prodTable").bootstrapTable('refresh');
        });

        $("#prodTable").bootstrapTable({
            url:"prod/list/query",   //请求地址
            striped: true, //是否显示行间隔色
            pageNumber: 1, //初始化加载第一页
            pagination: true, //是否分页
            sidePagination: 'server',//server:服务器端分页|client：前端分页
            pageSize: 5, //单页记录数
            pageList: [5, 10, 20, 30],//可选择单页记数
            queryParams: function(params) {//上传服务器的参数
                var areaObj = areaSelector.getAreaObj();
                var temp = {
                    offset :params.offset + 0,// SQL语句起始索引
                    pageNumber : params.limit  // 每页显示数量
                    , title: $("#title").val()
                    , desc: $("#desc").val()
                    , level: $("#level").val()
                    , province_code: areaObj.province_code
                    , city_code: areaObj.city_code
                    , area_code: areaObj.area_code
                    , status: $("#status").find('option:selected').val()
                    , level_prov: $('#level_prov').val()
                    , level_city: $('#level_city').val()
                    , level_area: $('#level_area').val()
                    , keywords: $('#keywords').val()
                    , show_prov: $("[name=show_prov]:checked").val()
                    , show_city: $("[name=show_city]:checked").val()
                    , show_area: $("[name=show_area]:checked").val()
                };
                return temp;
            },
            columns: [
            {
                title: '名称',
                field: 'title',
                align: 'center'
            },
            {
                title: '描述',
                field: 'desc',
                align: "center",
                formatter: function(value, row, index) {
                    var result = '<span title='+value+'>'+value+'</span>';
                    return result;
                }
            },
            {
                title: '关键字',
                field: 'keywords',
                align: "center",    formatter: function(value, row, index) {
                    var result = '<span title="'+value+'">'+value+'</span>';
                    return result;
                }
            },
            {
                title: '所属区域',
                field: 'region',
                align: "center",    formatter: function(value, row, index) {
                    var result = '<span title="'+value+'">'+value+'</span>';
                    return result;
                }
            },
            {
                title: '优先级',
                align: "center",
                width: 100,
                formatter: function(value, row, index) {
                    var result = '';
                    result += row['level_prov'];
                    result += ', ' + row['level_city'];
                    result += ', ' + row['level_area'];

                    return result;
                }
            },
            {
                title: '显示',
                align: 'center',
                width: 90,
                formatter: function(value, row, index) {
                    var result = '';
                    result += (row['show_prov'] ? '是' : '否')
                    result += ', ' + (row['show_city'] ? '是' : '否')
                    result += ', ' + (row['show_area'] ? '是' : '否')
                    return result;
                }
            },
            {
                title: '创建时间',
                field: 'create_time',
                align: "center",
            },
            {
                title: '状态',
                field: 'status',
                align: 'center',
                width: 75,
                formatter: function(value, row, index) {
                    var result='';
                    if (row.status === 2) {
                        result += '<span class="label label-default">已禁用</span>'
                    } else {
                        result += '<span class="label label-success">已启用</span>'
                    }
                    return result;
                }
            },
            {
                title: '操作',
                field: 'opr',
                align: 'center',
                events: {
                    'click #enable': function(e, value, row, index) {
                        changeStatus(row.id, 1);
                    },
                    'click #disable': function(e, value, row, index) {
                        changeStatus(row.id, 2);
                    },
                    'click #del': function(e, value, row, index) {
                        del(row.id);
                    },
                },
                formatter: function(value, row, index) {
                    var result="";
                    result += "<a class='btn btn-sm btn-info' href='prod/detail/"+row.id+"' style='margin-right: 5px;'>详情</a>";
                    result += "<a class='btn btn-sm btn-warning' href='prod/edit/"+row.id+"' style='margin-right: 5px;'>修改</a>";
                    result += "<a class='btn btn-sm btn-danger' href='javascript:void(0)' style='margin-right: 5px;' id='del'>删除</a>";
                    if (row.status === 2) {
                        result += "<a class='btn btn-sm btn-success' href='javascript:void(0)' id='enable'>启用</a>";
                    } else {
                        result += "<a class='btn btn-sm btn-default' href='javascript:void(0)' id='disable'>禁用</a>";
                    }
                    return result;
                }
            }
            ]
        })
    });

    function del(id) {
        var ret = confirm("确定永久删除吗？");
        if (!ret) {
            return;
        }
        $.ajax({
            url: 'prod/delete/'+id,
            type: 'post',
            beforeSend: function() {
                //显示loading组件
                $('body').mLoading("show");
            },
            success: function(result) {
                // 状态修改成功后刷新
                $("#prodTable").bootstrapTable('refresh');
            },
            error: function(err) {
                alert(err);
            },
            complete: function() {
                // 隐藏loading组件
                $('body').mLoading("hide");
            }
        });
    }
    function changeStatus(id, status) {
        $.ajax({
            url: 'prod/changeStatus',
            type: 'post',
            data: {id: id, status: status},
            beforeSend: function() {
                //显示loading组件
                $('body').mLoading("show");
            },
            success: function(result) {
                // 状态修改成功后刷新
                // window.location.reload();
                $("#prodTable").bootstrapTable('refresh');
            },
            error: function(err) {
                alert(err);
            },
            complete: function() {
                // 隐藏loading组件
                $('body').mLoading("hide");
            }
        });
    }

    function initAreaSelector() {
        var area = $('#region-select-box').JAreaSelect({
          prov: '',
        });
        return area;
    }

    var areaSelector = initAreaSelector();





























</script>
<script src="js/jquery.mloading.js"></script>
<link href="css/jquery.mloading.css" rel="stylesheet">
<style>
select {
margin-right:3px;
}

.form-group {
margin-top: 5px;
}





























</style>
</body>
</html>
