<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <base href="/nongte/"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="images/favicon.ico" rel="icon"/>

    <title>${regionTitle}</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet"/>
    <!-- <link href="assets/css/non-responsive.css" rel="stylesheet" /> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9
      ]>
    <script src="js/ie8-responsive-file-warning.js"></script
    ><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="html5shiv.min.js"></script>
    <script src="respond.min.js"></script>
    <![endif]-->
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/prod/prod.css" rel="stylesheet"/>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">特农网</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <%
                var loginUser = session.loginUser !"";
                %>
                <li><a href="#">首页</a></li>
                <%if(loginUser != "") {%>
                <li><a href="prod/list">产品列表</a></li>
                <%}%>
                <li><a href="contact">新闻动态</a></li>
                <li><a href="about">关于我们</a></li>
                <%
                if(loginUser != "") {
                %>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#"
                       role="button">${loginUser} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="signout">退出</a></li>
                    </ul>
                </li>
                <%}%>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <h2>${regionTitle}</h2>
    <div class="region clearfix">
        <%
        if (regionType == "city") {
        %>
        <%
        for(region in regions![]) {
        %>
        <span>
            <%
            if(region.code == areaCode!'') {
            %>
            <a class="text-dec-none areaClicked"
               title="${region.name}">${region.name}</a>
            <%} else {%>
            <a class="text-dec-none"
               href="prod/${path}/${region.code}?cityCode=${code}&cityName=${regionTitle}"
               title="${region.name}">${region.name}</a>
            <%}%>
        </span>
        <%}%>
        <%} else {%>
        <%if(regionType=="province") {%>
        <%
        for(region in regions![]){
        %>
        <span>
            <a class="text-dec-none" href="prod/${path}/${region.code}/${region.name}"
               target="region_city${region.code}"
               title="${region.name}">${region.name}</a>
        </span>
        <%}%>
        <%} else {%>
        <%
        for(region in regions![]){
        %>
        <span>
            <a class="text-dec-none" href="prod/${path}/${region.code}/${region.name}"
               title="${region.name}">${region.name}</a>
        </span>
        <%}%>
        <%}%>
        <%}%>
    </div>

    <h3>特产介绍</h3>

    <div class="row prod">
        <%
        for(prod in prods![]) {
        %>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a class="clearfix text-dec-none" href="prod/detail/${prod.id}" target="prod_detail_${prod.id}">
                    <div class="box">
                        <img alt="${prod.title}" src="medias/file?filename=${prod.pic_url}"/>
                    </div>
                    <div class="caption">
                        <div class="top"
                             style="background:url('images/db00${prod.db}.jpg') no-repeat right center; background-size:contain;">
                            <span class="prod-title">${prod.title}</span>
                        </div>
                        <p class="prod-desc">${prod.desc}</p>
                    </div>
                </a>
            </div>
        </div>
        <%}%>
    </div>
    <!-- 分页容器： 显示分页按钮-->
    <div align="center" class="col-lg-12">
        <!-- 注意:3版本的分页容器标签是<ul>，2版本的容器标签是<div> -->
        <ul id="paginator"></ul>
    </div>
</div>
<!-- /container -->

<footer>
    <center>
        <ul>
            <li><a href="about">关于我们</a></li>
            <li><a href="declare" target="declare">网站申明</a></li>
            <li><a href="about">建议</a></li>
            <li><a href="about">找错</a></li>
        </ul>
        <p>Copyright © nongte.wang (2020 - present) all right reserved</p>
        <p>备案信息</p>
    </center>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

<script src="js/jquery.mloading.js"></script>
<link href="css/jquery.mloading.css" rel="stylesheet">

<script src="js/bootstrap-paginator.min.js"></script>
<script>
var currentPage = ${currentPage}
var totalPages = ${totalPages}
var limit = ${limit}
var url = "prod/${regionType}/${code}/${regionTitle}?page=";
var areaCode = "${areaCode!''}"
if('${path}' == 'area' && areaCode != '') {
    url = "prod/area/"+areaCode+"?cityCode=${code}&cityName=${regionTitle}&page=";
}



</script>
<script src="js/paginatorUtil.js"></script>
</body>
</html>
