<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <base href="/nongte/"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="images/favicon.ico" rel="icon"/>

    <title>${regionTitle}</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet"/>
    <!-- <link href="assets/css/non-responsive.css" rel="stylesheet" /> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9
      ]>
    <script src="js/ie8-responsive-file-warning.js"></script
    ><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="html5shiv.min.js"></script>
    <script src="respond.min.js"></script>
    <![endif]-->
    <link href="css/style.css" rel="stylesheet"/>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">特农网</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <%
                var loginUser = session.loginUser !"";
                %>
                <li><a href="#">首页</a></li>
                <%if(loginUser != "") {%>
                <li><a href="prod/list">产品列表</a></li>
                <%}%>
                <li><a href="about">关于我们</a></li>
                <li><a href="contact">联系我们</a></li>
                <%
                if(loginUser == "") {
                %>
                <li><a href="signin">登录</a></li>
                <%} else {%>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#"
                       role="button">${loginUser} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="signout">退出</a></li>
                    </ul>
                </li>
                <%}%>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <h1 class="region-title">${regionTitle}</h1>
    <div class="mt-10 region clearfix">
        <%
        for(region in regions![]){
        %>
        <a href="prod/${path}/${region.code}/${region.name}">${region.name}</a>
        <%}%>
    </div>

    <h1 class="tc-intro mt-10">特产介绍</h1>

    <div class="row mt-10">
        <%
        for(prod in prods![]) {
        %>
        <div class="col-sm-6 col-md-3">
            <a class="thumbnail" href="prod/detail/${prod.id}">
                <img alt="" loading="lazy" src="file?filename=${prod.picUrl}">
                <div class="caption text-center">${prod.title}</div>
            </a>
        </div>
        <%}%>
    </div>
</div>
<!-- /container -->

<div class="footer">
    <div class="container">
        <p class="text-muted">内容待完善</p>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
