<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lewjun.mapper.SysPermissionMapper">
    <resultMap id="BaseResultMap" type="com.example.lewjun.domain.SysPermission">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="description" jdbcType="VARCHAR" property="description" />
    </resultMap>

    <resultMap extends="BaseResultMap" id="SysPermissionWithSubSysPermissionResultMap"
        type="com.example.lewjun.domain.SysPermissionWithSubSysPermission">
        <collection ofType="com.example.lewjun.domain.SysPermission" property="subSysPermissions">
            <id column="sub_id" jdbcType="INTEGER" property="id" />
            <result column="sub_name" jdbcType="VARCHAR" property="name" />
            <result column="sub_url" jdbcType="VARCHAR" property="url" />
            <result column="sub_description" jdbcType="VARCHAR" property="description" />
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, url, description
    </sql>

    <sql id="Base_Column_Select_List">
        sys_permission.id,
        sys_permission.`name`,
        sys_permission.`url`,
        sys_permission.`description`
    </sql>

    <sql id="Sub_Permission_Column_Select_List">
        sys_permission_sub.id as sub_id,
        sys_permission_sub.`name` as sub_name,
        sys_permission_sub.`url` as sub_url,
        sys_permission_sub.`description` as sub_description
    </sql>

    <select id="findByRoleId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_Select_List" />
        FROM
        sys_permission AS sys_permission
        JOIN sys_role_permission AS sys_role_permission
        ON sys_permission.`id` = sys_role_permission.`permission_id`
        JOIN sys_role AS sys_role
        ON sys_role.`id` = #{roleId}
        AND sys_role.`id` = sys_role_permission.`role_id`
    </select>

    <select id="findByRoleIdWithSubPermission" resultMap="SysPermissionWithSubSysPermissionResultMap">
        SELECT
        <include refid="Base_Column_Select_List" />
        ,
        <include refid="Sub_Permission_Column_Select_List" />
        FROM
        sys_permission AS sys_permission
        LEFT JOIN sys_permission AS sys_permission_sub
        ON sys_permission_sub.`parent_id` = sys_permission.`id`
        WHERE EXISTS
        (SELECT
        1
        FROM
        sys_permission AS sys_permission
        LEFT JOIN sys_permission AS sys_permission_sub
        ON sys_permission_sub.`parent_id` = sys_permission.`id`
        JOIN sys_role_permission AS sys_role_permission
        ON sys_permission.`id` = sys_role_permission.`permission_id`
        JOIN sys_role AS sys_role
        ON sys_role.`id` = #{roleId}
        AND sys_role.`id` = sys_role_permission.`role_id`
    </select>

    <select id="findSubPermissionByPermissionId" resultMap="BaseResultMap">
        SELECT
        <include refid="Sub_Permission_Column_Select_List" />
        FROM
        sys_permission AS sys_permission_sub
        JOIN sys_permission AS sys_permission
        ON sys_permission.`id` = sys_permission_sub.`parent_id`
        AND sys_permission.`id` = #{permissionId})
    </select>

    <select id="findByIdWithSubSysPermission" resultMap="SysPermissionWithSubSysPermissionResultMap">
        SELECT
        <include refid="Base_Column_Select_List" />
        ,
        <include refid="Sub_Permission_Column_Select_List" />
        FROM
        sys_permission AS sys_permission
        LEFT JOIN sys_permission AS sys_permission_sub
        ON sys_permission_sub.`parent_id` = sys_permission.`id`
        WHERE sys_permission.`id` = #{permissionId}
    </select>

</mapper>