<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lewjun.mapper.Ab01Mapper">
    <select id="queryByAab003" resultType="com.example.lewjun.domain.Ab01">
        select * from ab01 where aab003=#{aab003}
    </select>
</mapper>