<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lewjun.mapper.Ab01Mapper">

    <resultMap id="BaseResultMap" type="com.example.lewjun.domain.Ab01">
        <id column="aab001" jdbcType="INTEGER" property="aab001"/>
        <result column="aab002" jdbcType="VARCHAR" property="aab002"/>
        <result column="aab003" jdbcType="VARCHAR" property="aab003"/>
    </resultMap>

    <resultMap id="Ab01Ac01" type="com.example.lewjun.domain.Ab01Ac01" extends="BaseResultMap">
        <collection property="ac01s" resultMap="com.example.lewjun.mapper.Ac01Mapper.BaseResultMap"/>
    </resultMap>

    <sql id="Base_Column_List">
        aab001, aab002, aab003
    </sql>

    <select id="queryByAab003" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ab01
        where
        aab003=#{aab003}
    </select>

    <select id="queryAb01Ac01" resultMap="Ab01Ac01">
        select ab01.*, ac01.* from ab01
        left join ac01 on ab01.aab001=ac01.aac006
    </select>
    <!--    where 的使用 -->
    <select id="queryWhere" parameterType="com.example.lewjun.domain.Ab01" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ab01
        <where>
            <if test="aab001!=null">
                and aab001=#{aab001}
            </if>

            <if test="aab002!=null">
                and aab002=#{aab002}
            </if>

            <if test="aab003!=null">
                or aab003=#{aab003}
            </if>
        </where>
    </select>
</mapper>