<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/nongte/">
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="images/favicon.ico" rel="icon"/>

    <title>农特网</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet"/>
    <!-- <link href="assets/css/non-responsive.css" rel="stylesheet" /> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9
      ]>
    <script src="js/ie8-responsive-file-warning.js"></script
    ><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/icon-search.css" rel="stylesheet"/>
    <link href="css/index/index.css" rel="stylesheet"/>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">特农网</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <%
                var loginUser = session.loginUser !"";
                %>
                <li class="active"><a href="#">首页</a></li>
                <%if(loginUser !="") {%>
                <li><a href="prod/list">产品列表</a></li>
                <%}%>
                <li><a href="contact">新闻动态</a></li>
                <li><a href="about">关于我们</a></li>
                <%
                if(loginUser == "") {
                %>
                <li><a href="signin">登录</a></li>
                <%} else {%>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#"
                       role="button">${loginUser} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="signout">退出</a></li>
                    </ul>
                </li>
                <%}%>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div style="width: 40%; margin: 30px auto 30px;">
        <div class="input-group input-group-lg">
            <i class="icon-search i-search"></i>
            <input autocomplete="off" class="form-control keywords" id="s" name="s">
            <span class="input-group-btn">
                <a class="btn btn-search" href="javascript:;" id="search">搜索</a>
            </span>
        </div>
        <!-- /input-group -->
    </div>
    <div class="mt-10 region">
        <a href="prod/province/110000/北京">
            <span class="prov">北京</span>
        </a>
        <a href="prod/province/120000/天津">
            <span class="prov">天津</span>
        </a>
        <a href="prod/province/130000/河北">
            <span class="prov">河北</span>
        </a>
        <a href="prod/province/140000/山西">
            <span class="prov">山西</span>
        </a>
        <a href="prod/province/150000/内蒙古">
            <span class="prov">内蒙古</span>
        </a>
        <a href="prod/province/210000/辽宁">
            <span class="prov">辽宁</span>
        </a>
        <a href="prod/province/220000/吉林">
            <span class="prov">吉林</span>
        </a>
        <a href="prod/province/230000/黑龙江">
            <span class="prov">黑龙江</span>
        </a>
        <a href="prod/province/310000/上海">
            <span class="prov">上海</span>
        </a>
        <a href="prod/province/320000/江苏">
            <span class="prov">江苏</span>
        </a>
        <a href="prod/province/330000/浙江">
            <span class="prov">浙江</span>
        </a>
        <a href="prod/province/340000/安徽">
            <span class="prov">安徽</span>
        </a>
        <a href="prod/province/350000/福建">
            <span class="prov">福建</span>
        </a>
        <a href="prod/province/360000/江西">
            <span class="prov">江西</span>
        </a>
        <a href="prod/province/370000/山东">
            <span class="prov">山东</span>
        </a>
        <a href="prod/province/410000/河南">
            <span class="prov">河南</span>
        </a>
        <a href="prod/province/420000/湖北">
            <span class="prov">湖北</span>
        </a>
        <a href="prod/province/430000/湖南">
            <span class="prov">湖南</span>
        </a>
        <a href="prod/province/440000/广东">
            <span class="prov">广东</span>
        </a>
        <a href="prod/province/450000/广西">
            <span class="prov">广西</span>
        </a>
        <a href="prod/province/460000/海南">
            <span class="prov">海南</span>
        </a>
        <a href="prod/province/500000/重庆">
            <span class="prov">重庆</span>
        </a>
        <a href="prod/province/510000/四川">
            <span class="prov">四川</span>
        </a>
        <a href="prod/province/520000/贵州">
            <span class="prov">贵州</span>
        </a>
        <a href="prod/province/530000/云南">
            <span class="prov">云南</span>
        </a>
        <a href="prod/province/540000/西藏">
            <span class="prov">西藏</span>
        </a>
        <a href="prod/province/610000/陕西">
            <span class="prov">陕西</span>
        </a>
        <a href="prod/province/620000/甘肃">
            <span class="prov">甘肃</span>
        </a>
        <a href="prod/province/630000/青海">
            <span class="prov">青海</span>
        </a>
        <a href="prod/province/640000/宁夏">
            <span class="prov">宁夏</span>
        </a>
        <a href="prod/province/650000/新疆">
            <span class="prov">新疆</span>
        </a>
        <a href="prod/province/710000/香港">
            <span class="prov">香港</span>
        </a>
        <a href="prod/province/720000/澳门">
            <span class="prov">澳门</span>
        </a>
        <a href="prod/province/730000/台湾">
            <span class="prov">台湾</span>
        </a>
    </div>
</div>
<!-- /container -->

<footer>
    <center>
        <ul>
            <li><a href="about">关于我们</a></li>
            <li><a href="declare" target="declare">网站申明</a></li>
            <li><a href="about">建议</a></li>
            <li><a href="about">找错</a></li>
        </ul>
        <p>Copyright © nongte.wang (2020 - present) all right reserved</p>
        <p>备案信息</p>
    </center>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
<script src="js/prod-query.js"></script>
</body>
</html>
