<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/food-merge/">
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <link href="images/favicon.ico" rel="icon"/>

    <title>食物信息合并</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet"/>
    <!-- <link href="assets/css/non-responsive.css" rel="stylesheet" /> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9
      ]>
    <script src="js/ie8-responsive-file-warning.js"></script
    ><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link href="css/style.css" rel="stylesheet"/>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">食物合并</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <%
                var loginUser = session.loginUser !"";
                %>
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">关于我们</a></li>
                <%
                if(loginUser != "") {
                %>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#"
                       role="button">${loginUser} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="signout">退出</a></li>
                    </ul>
                </li>
                <%} else {%>
                <li><a href="signin">登录</a></li>
                <%}%>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <!-- 模态框（Modal） -->
    <div aria-hidden="true" aria-labelledby="fdDetailModalLabel" class="modal fade" id="fdDetailModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" style="width:95% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                        &times;
                    </button>
                    <h4 class="modal-title" id="fdDetailModalLabel">
                        详情
                    </h4>
                </div>
                <div class="modal-body">
                    在这里添加一些文本
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">关闭
                    </button>
                    <button class="btn btn-primary" type="button">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="form-inline">
        <div>
            <div class="form-group">
                <label for="fd002">名称</label>
                <input autocomplete="off" class="form-control" id="fd002" maxlength="20" placeholder="请输入名称">
                <button class="btn btn-success" id="queryBtn">查询</button>
            </div>
        </div>
    </div>
    <table class="mt-10" id="prodTable"></table>
</div>
<!-- /container -->


<footer>
    <center>
        <ul>
            <li><a href="#">关于我们</a></li>
            <li><a href="#" target="declare">网站申明</a></li>
            <li><a href="#">建议提交</a></li>
        </ul>
        <p>Copyright © 2020-2021 liujun All Rights Reserved</p>
    </center>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Latest compiled and minified CSS -->
<link href="css/bootstrap-table.min.css" rel="stylesheet">
<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="js/bootstrap-table-zh-CN.min.js"></script>

<script src="js/jquery.mloading.js"></script>
<link href="css/jquery.mloading.css" rel="stylesheet">

<script>
$(function() {
    $("#queryBtn").click(function() {
        $("#prodTable").bootstrapTable('refresh');
    });

    $("#prodTable").bootstrapTable({
        url:"fd/list/query",   //请求地址
        striped: true, //是否显示行间隔色
        pageNumber: 1, //初始化加载第一页
        pagination: true, //是否分页
        sidePagination: 'server',//server:服务器端分页|client：前端分页
        pageSize: 5, //单页记录数
        pageList: [5, 10, 20, 30],//可选择单页记数
        queryParams: function(params) {//上传服务器的参数
            var temp = {
                offset :params.offset + 0// SQL语句起始索引
                , pageNumber : params.limit  // 每页显示数量
                , fd002: $("#fd002").val()
            };
            return temp;
        },
        columns: [
            {field: 'fd001', title: '编码', align: 'center'},
            {field: 'fd002', title: '名称', align: 'center'},
            {field: 'fd003', title: '可食部', align: 'center'},
            {field: 'fd004', title: '一类名称', align: 'center'},
            {field: 'fd005', title: '二类名称', align: 'center'},
            {field: 'fd006', title: '能量', align: 'center'},
            {field: 'fd007', title: '蛋白质', align: 'center'},
            {field: 'fd008', title: '脂肪', align: 'center'},
            {field: 'fd009', title: '维生素A', align: 'center'},
            {field: 'fd010', title: '维生素B1', align: 'center'},
            {field: 'fd011', title: '维生素B2', align: 'center'},
            {field: 'fd012', title: '维生素C', align: 'center'},
            {field: 'fd013', title: '钙', align: 'center'},
            {field: 'fd014', title: '钠', align: 'center'},
            {field: 'fd015', title: '铁', align: 'center'},
            {field: 'fd016', title: '锌', align: 'center'},
            {field: 'fd017', title: '用量', align: 'center'},
            {field: 'yyss001', title: '是否对照', align: 'center',
                formatter: function(value, row, index) {
                    var result = '';
                    if (row.yyss001) {
                        result += '<a title="点击查看" target="_blank" href="yyss/view/'+row.yyss001+'" class="label label-success">row.fd018</a>'
                    } else {
                        result += '<span class="label label-default">未对照</span>'
                    }
                    return result;
                }
            },
            {title: '操作', align: 'center',
                events: {
                    'click #fd-detail': function(e, value, row, index) {
                        // alert(1)
                        // TODO 根据fd001查询基础数据，和合并后的数据
                        // TODO 显示到fdDetailModal中的相应位置
                        // TODO 显示模态框
                        // fd/detail/"+row.fd001
$('#fdDetailModal').modal('show');
                    },
                    'click #fd-merge': function(e, value, row, index) {
                        alert(2)
                        // yyss/query?yyss007="+row.fd002+"
                    },
                },
                formatter: function(value, row, index) {
                    var result = ''
                    result += "<a class='btn btn-sm btn-info' id='fd-detail' href='javascript:void(0)' style='margin-right: 5px;'>详情</a>";
                    result += "<a class='btn btn-sm btn-success' id='fd-merge' href='javascript:void(0)'>查询对照</a>";
                    return result;
                }
            }
        ]
    });
});

</script>
</body>
</html>
