<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/food-merge/">
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <link href="images/favicon.ico" rel="icon"/>

    <title>食物信息合并</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet"/>
    <!-- <link href="assets/css/non-responsive.css" rel="stylesheet" /> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9
      ]>
    <script src="js/ie8-responsive-file-warning.js"></script
    ><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link href="css/style.css" rel="stylesheet"/>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">食物合并</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <%
                var loginUser = session.loginUser !"";
                %>
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">关于我们</a></li>
                <%
                if(loginUser != "") {
                %>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#"
                       role="button">${loginUser} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="signout">退出</a></li>
                    </ul>
                </li>
                <%} else {%>
                <li><a href="signin">登录</a></li>
                <%}%>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <div class="form-inline">
        <div class="form-group">
            <label for="fd002">名称</label>
            <input autocomplete="off" class="form-control" id="fd002" maxlength="20" placeholder="请输入名称">
            <label for="duizhao">是否对照</label>
            <select class="form-control" id="duizhao">
                <option value="">全部</option>
                <option value="0">未对照</option>
                <option value="1">已对照</option>
            </select>
            <button class="btn btn-success" id="queryFdBtn">查询</button>
            <button class="btn btn-warning" id="downloadFdBtn">下载</button>
        </div>
    </div>
    <table class="mt-10" id="fdTable"></table>
</div>
<!-- /container -->


<footer>
    <center>
        <ul>
            <li><a href="#">关于我们</a></li>
            <li><a href="#" target="declare">网站申明</a></li>
            <li><a href="#">建议提交</a></li>
        </ul>
        <p>Copyright © 2020-2021 liujun All Rights Reserved</p>
    </center>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Latest compiled and minified CSS -->
<link href="css/bootstrap-table.min.css" rel="stylesheet">
<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="js/bootstrap-table-zh-CN.min.js"></script>

<script src="js/jquery.mloading.js"></script>
<link href="css/jquery.mloading.css" rel="stylesheet">

<script src="js/utils/file-download-util.js"></script>
<script src="js/index/index.js"></script>

<!-- 详情 模态框（Modal） -->
<div aria-hidden="true" aria-labelledby="fdDetailModalLabel" class="modal fade" id="fdDetailModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" style="width:95% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title" id="fdDetailModalLabel">详情</h4>
            </div>
            <div class="modal-body">
                <table class="mt-10" id="detailFdTable"></table>
                <table class="mt-10" id="detailYyssTable"></table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- 查询对照 模态框（Modal） -->
<div aria-hidden="true" aria-labelledby="fdMergeModalLabel" class="modal fade" id="fdMergeModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" style="width:95% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title" id="fdMergeModalLabel">
                    查询对照
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="yyss007">名称</label>
                        <input autocomplete="off" class="form-control" id="yyss007" maxlength="20" placeholder="请输入名称">
                        <button class="btn btn-success" id="queryYyssBtn">查询</button>
                    </div>
                </div>
                <table class="mt-10" id="yyssTable"></table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>
