.w-1of5 td {
  width: 20%;
}

.mt-10 {
  margin-top: 10px !important;
}

.block {
  display: block;
}

.clearfix:after {
  clear: both;
  display: block;
  content: ' ';
}
.prod {
  position: relative;
  margin: 10px auto;
  overflow: auto;
  white-space: nowrap;
  padding: 0 10px;
  width:98%;
}
.img-txt {
  float: left;
  width: 25%;
  text-align: center;
  padding: 5px;
}

.img-txt img {
  display: block;
  width: 100%;
  border: 1px solid gainsboro;
}

.img-txt:hover img {
  border: 2px solid red;
}

h1.region-title,
h1.tc-intro {
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

.region a {
  width: 20%;
  float: left;
  display: block;
  padding: 10px;
  text-align: center;
  border: 1px solid #cecece;
  margin-top: -1px;
  margin-left: -1px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
