.navbar,
.navbar-brand {
min-height: 60px;
background: rgb(146,209,79);
}

.navbar-brand {
height: 60px;
padding: 20px 20px;
}

.navbar-nav > li > a {
padding-top: 20px;
padding-bottom: 20px
}

.w-1of5 td {
  width: 20%;
}

.mt-10 {
  margin-top: 10px !important;
}

.block {
  display: block;
}

.clearfix:after {
  clear: both;
  display: block;
  content: ' ';
}

h1.region-title,
h1.tc-intro {
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

.region a {
  width: 20%;
  float: left;
  display: block;
  padding: 10px;
  text-align: center;
  border: 1px solid #cecece;
  margin-top: -1px;
  margin-left: -1px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #f1f1f1;
  background: rgb(0,175,81);
  color: #eee;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
margin-bottom: 60px !important;
background: linear-gradient(to bottom, #FBE199, #FFF1D3)
}

.text-dec-none {
text-decoration: none !important;
}