.navbar,
.navbar-brand {
min-height: 80px;
background: rgb(146,208,80);
}

.navbar-brand {
padding: 20px 20px;
line-height: 40px;
}

.navbar-nav > li > a {
padding-top: 20px;
padding-bottom: 20px;
line-height: 40px;
}

.nav > .active > a {
background: #FFC900 !important;
}

.w-1of5 td {
  width: 20%;
}

.mt-10 {
  margin-top: 10px !important;
}

.block {
  display: block;
}

.clearfix:after {
  clear: both;
  display: block;
  content: ' ';
}

h1.region-title,
h1.tc-intro {
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

.region > span,
.region > a {
  width: 20%;
  float: left;
  display: block;
  padding: 10px;
  text-align: center;
  border: 1px solid #cecece;
  margin-top: -1px;
  margin-left: -1px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.region > span {
border: none !important;
}

.region > span > a {
display: inline-block;
width: 80px;
border: 2px solid #FEBF00;
border-radius: 4px;
color: #00B050;
padding: 5px;
overflow:hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #f1f1f1;
  background: rgb(0,176,80);
  color: #eee;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
margin-bottom: 60px !important;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fbe397+0,fbe397+14,fdf2d0+29,fffcf3+100 */
background: #fbe397; /* Old browsers */
background: -moz-linear-gradient(top,  #fbe397 0%, #fbe397 14%, #fdf2d0 29%, #fffcf3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fbe397 0%,#fbe397 14%,#fdf2d0 29%,#fffcf3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fbe397 0%,#fbe397 14%,#fdf2d0 29%,#fffcf3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe397', endColorstr='#fffcf3',GradientType=0 ); /* IE6-9 */
}

body > .container {
margin-top: 60px;
}
.text-dec-none {
text-decoration: none !important;
}

input.keywords {
border-top-left-radius: 6px !important;
border-bottom-left-radius: 6px !important;
}

.btn-search {
background:#FFC900;color:white;
}